@charset "UTF-8";

body {
    font-family: "Philosopher", "Noto Sans JP", sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    color: #432f2f;
}

/* header */

header {
    width: 70vw;
    height: 10vh;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Sans JP", sans-serif;
}

header img {
    height: 8vh;
    width: auto;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    list-style-type: none;
    font-size: 1.1em;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 0.5em 1.2em;
    display: inline-block;
}

header nav ul li a:hover {
    color: #0bd;
}

footer {
    background: #432f2f;
    color: #fff;
    text-align: center;
    padding: 1.6em 0;
    font-size: 0.7em;
    font-family: "Noto Sans JP", sans-serif;
}

/* Responsive */

@media ( max-width : 670px ) {
    header {
        width: 100vw;
        flex-direction: column;
    }

    header nav ul {
        margin: 0.5em 0;
        font-size: 0.9em;
    }
}

/* index */

.index {
    background-image: url("../img/main-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.index .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76vh;
}

.index .main h2 {
    font-size: 4em;
    font-weight: normal;
    letter-spacing: 0.05em;
    padding: 0.4em 0;
    text-align: center;
}

.index .main p {
    padding: 0.5em 0;
    font-size: 1.1em;
}

.index .main button {
    background: #0bd;
    color: #fff;
    border-radius: 0.3em;
    padding: 0.8em 2.4em;
    font-size: 1em;
    margin: 3.5em 0 0;
}

.index .main button:hover {
    filter: brightness(90%);
}

/* index Responsive */

@media ( max-width : 670px ) {
    .index .main {
        height: 68vh;
    }

    .index .main h2 {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.06em;
        font-size: 2em;
        font-weight: bold;
    }

    .index .main p {
        width: 86vw;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.04em;
        font-size: 1em;
    }

    .index .main button {
        margin: 2em 0 0;
    }
}

/* news */

.news .bg-image {
    background-image: url("../img/news-bg.jpg");
    background-position: top 6% center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 32vh;
    width: 100vw;
}

.news h1 {
    text-align: center;
    font-size: 5em;
    font-weight: normal;
}

.news .main {
    width: 70vw;
    margin: 0 auto;
    display: flex;
}

.news .main article {
    width: 58%;
    margin: 1.4em auto 6em 3%;
}

.news .main article .title {
    margin: 1em 0;
    display: flex;
}

.news .main article .date {
    background: #0bd;
    color: #fff;
    border-radius: 50%;
    width: 5.6em;
    height: 5.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    margin-right: 1em;
    flex: none;
}

.news .main article .date :first-child {
    font-size: 1.4em;
    border-bottom: 1px solid #fff;
}

.news .main article .title .title-str h2 {
    font-weight: normal;
    font-family: "Sawarabi Mincho";
    font-size: 2.2em;
}

.news .main article .title .title-str p {
    font-size: 0.9em;
}

.news .main article img {
    width: 100%;
    margin: 0.5em 0 1.5em;
}

.news .main article p {
    line-height: 1.8em;
    text-align: justify;
    text-justify: inter-ideograph;
}

.news .main aside {
    width: 22%;
    margin: 1.4em auto 6em 3%;
}

.news .main aside h3 {
    font-weight: normal;
    padding: 0.6em 0.4em;
    border-bottom: 1.4px solid #0bd;
    letter-spacing: 0.06em;
}

.news .main aside ul {
    list-style-type: none;
}

.news .main aside ul li {
    border-bottom: 1.1px solid #dcd6d2;
}

.news .main aside a {
    text-decoration: none;
    color: #432f2f;
    display: inline-block;
    padding: 0.5em 0.4em;
}

.news .main aside a:hover {
    color: #0bd;
}

.news .main aside section:last-child {
    margin-top: 3em;
}

.news .main aside p {
    margin: 0.5em 0.4em;
    text-align: justify;
    text-justify: inter-ideograph;
    line-height: 1.6em;
}

/* news Responsive */

@media ( max-width : 670px ) {
    .news .bg-image {
        background-position: top center;
        background-size: cover;
        width: 100vw;
        height: 40vh;
        position: relative;
    }

    .news h1 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.8em;
        font-weight: bold;
        position: absolute;
        bottom: 24%;
    }

    .news .main {
        width: 100vw;
        flex-direction: column;
    }

    .news .main article {
        width: 88vw;
        margin-left: auto;
        margin-right: auto;
    }

    .news .main article .date {
        height: 4.6em;
        width: 4.6em;
    }

    .news .main article .date :first-child {
        font-size: 1em;
    }

    .news .main article .date :last-child {
        font-size: 0.8em;
    }

    .news .main article .title .title-str h2 {
        font-size: 1.2em;
    }

    .news .main aside {
        width: 88vw;
        margin: auto;
    }

    .news .main aside section {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

}

/* menu */
.menu .bg-image {
    background: #594e52 url("../img/menu-bg.jpg");
    background-blend-mode: screen;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.menu .bg-image h1 {
    font-size: 5em;
    font-weight: normal;
    text-align: center;
    margin-top: 26vh;
}

.menu .bg-image p {
    width: 26em;
    margin: 1em auto 0;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    text-align: justify;
    text-justify: inter-ideograph;
}

.menu .main {
    width: 70vw;
    margin: 6em auto;
}

.menu .container {
    display: grid;
    gap: 2.4em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.menu .box-big1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.menu .item img {
    width: 100%;
    height: auto;
}

/* menu Responsive */

@media ( max-width: 670px ) {

    .menu .bg-image h1 {
        font-size: 2.8em;
        font-weight: bold;
        margin-top: 18vh;
    }

    .menu .bg-image p {
        width: 84vw;
        margin: 3em auto 0;
        line-height: 1.4em;
        text-align: justify;
        text-justify: inter-ideograph;
    }

    .menu .main {
        width: 88vw;
        margin-top: 4em;
    }
    
    .menu .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .menu .box-big1 {
        grid-column: 1;
        grid-row: auto;
    }
}

/* contact */
.contact .bg-image {
    background: #594e52 url("../img/contact-bg.jpg");
    background-blend-mode: screen;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.contact .bg-image h1 {
    font-size: 4.6em;
    font-weight: normal;
    width: 70vw;
    margin: 0.2em auto;
}

.contact .bg-image form {
    width: 70vw;
    margin: 0 auto;
}

.contact dl {
    line-height: 2.4em;
    font-size: 1em;
}

.contact dl dt{
    margin-top: 0.4em;
}

.contact dl dd input[type="text"],
.contact dl dd input[type="email"],
.contact dl dd textarea {
    background-color: rgba(255,255,255,0.4);
    border: 1px solid #fff;
    border-radius: 5px;
    width: 16em;
    padding-left: 0.2em;
}

.contact dl dd textarea {
    width: 28em;
    height: 8em;
    line-height: 1.6em;
}

.contact .bg-image form input[type="submit"] {
    background-color: #0bd;
    color: #fff;
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.7em 1.8em;
}

.contact .bg-image form input[type="submit"]:hover {
    filter: brightness(90%);
}

.contact .access {
    width: 70vw;
    margin: 4em auto;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans JP", sans-serif;
}

.contact h3 {
    font-weight: normal;
    padding: 0.6em 0.4em;
    border-bottom: 1.4px solid #0bd;
    letter-spacing: 0.06em;
}

.contact .access .info ul {
    list-style-type: none;
    margin-top: 0.4em;
}

.contact .access .info ul li {
    line-height: 1.8em;
}

.contact .bg-color {
    background-color: #f8f4e6;
}

.contact .bg-color .links {
    font-family: "Noto Sans JP", sans-serif;
    width: 70vw;
    margin: 0 auto;
    padding: 2em 0 3em;
    display: flex;
    justify-content: space-between;
}

.contact .bg-color .links .link-box h3 {
    margin-bottom: 1.4em;
}

/* contact Responsive */
@media ( max-width: 670px ) {
    .contact .bg-image {
        background-position: top left;
    }

    .contact .bg-image h1 {
        font-weight: bold;
        width: 88vw;
        margin: 1.4em auto 0;
        font-size: 2.8em;
    }
    
    .contact .bg-image form {
        width: 88vw;
    }

    .contact .bg-image form input[type="text"],
    .contact .bg-image form input[type="email"],
    .contact .bg0image form textarea {
        width: 100%;
    }

    .contact .bg-image form input[type="submit"] {
        padding: 0.7em 2.0em;
    }

    .contact .access {
        flex-direction: column;
        width: 88vw;
        margin: 2em auto;
    }

    .contact .access iframe {
        margin-top: 2em;
        width: 100%;
        height: 250px;        
    }

    .contact .bg-color .links {
        width: 88vw;
        flex-direction: column;
    }

    .twitter-wrap {
		width: 40%;
	}
}